ul {
  list-style: none;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
